html {
    /*zoom: 1;*/
}

body {
    min-height: 100vh;
}

.container {
    max-width: none;
}

#mapContainer {
    height: 450px;
}

#treeContainerDonut {
    min-height: 500px;
}

#treeContainerStreamgraph {
    min-height: 500px;
}

.pad-top-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid #dadada;
}

#mapContainer {
    position: relative;
    z-index: 0;
    /*width: available;*/
    /*height: available;*/
}

#legend_div {
    font-size: 10pt;
    scale: 0.7;
    position: absolute;
    z-index: 1;
    /*background-color: white;*/
    width: 250px;
    left: 345px;
    top: 0px;
}

/*#div_graph_options {*/
/*    float: left;*/
/*    width: 230px;*/
/*    height: 500px;*/
/*    margin: 0 auto;*/
/*    padding-left: 40px;*/
/*    padding-right: 40px;*/
/*}*/

/*h5 {*/
/*    margin: 3px 0 3px;*/
/*}*/

/*.options_box {*/
/*    padding: 10px;*/
/*    margin: 5px;*/
/*    border: solid #9f9f9f;*/
/*}*/
